body {
    background-color: rgb(248, 248, 248);
    font-family: 'Roboto','Helvetica Neue', Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0;
    padding: 1rem;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1 {
    margin-bottom: 5rem;
    text-align: center;
}

.card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.card {
    background-color: white;
    border-radius: 0.25rem;
    box-shadow: 0 20px 40px -14px rgba(0,0,0,0.25);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 25vw;
    margin-bottom: 4rem;
    margin-right: 1rem;
    margin-left: 1rem;
    align-items: center; /* Center child elements vertically within the card */
    justify-content: space-between; /* Distribute space evenly between child elements */
}

.card-image {
    height: 200px;
    max-width: 100%;
    width: 100%;
    object-fit: cover;
}

.card-info {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    padding: 1rem;
    text-align: left;
    font-size: 18px;
}

.genre {
    color: rgb(255, 255, 255);
    padding-top: 10px;
    margin: 0;
    font-size: 15px;
}

.title {
    margin-bottom: 0;
}

.director {
    margin-top: 0;
    font-size: 16px;
    color: grey;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-align: center;
    background: grey;
    text-decoration: none;
    padding: 20px 5px;
    width: 100%; /* Ensure the button takes up full width within the card */
    transition: 0.3s;
}

.card:hover {
    transform: scale(1.1);
    box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.25);
  }

.btn:hover {
    background-color: blue;
  }

/* CSS for mobile mode (screens 768px and below) */
@media (max-width: 1090px) {
    .card-container{
        margin: auto;
        margin-left: 0;
        margin-right: 0;
    }
    .card {
        width: 100%; /* Cards take full width in mobile mode */
        margin: 0.2rem;
    }
}